@model BancoBNPExameApi.Models.MovimentoManual

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovimentoManual</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DES_DESCRICAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DES_DESCRICAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DAT_MOVIMENTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DAT_MOVIMENTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAL_VALOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAL_VALOR)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
